html {
  font-size 16px
}
body {
  font-size 0.7rem
  font-family sans-serif
  margin 0
  background #222
  color #fff
}

.cont-wrap {
  padding-top 70px
}

.bg-img {
  filter blur(20px)
  background-repeat no-repeat
  background-size cover
  width 100vw
  height 100vh
  z-index -1
  position fixed
  opacity 0.4
}
