.trailer-cont
  display block
  @media screen and (min-width: 992px) {
    display grid
    grid-template-columns 2fr 1fr
    grid-column-gap 10px
  }
  .video-wrap
    display block
    text-align center
    iframe
      width 100%
  .trailer-details
    padding 10px
    background rgba(0,0,0,0.5)
    .event-name
      font-size 1.7rem
    .event-language
      font-size 0.7rem
      padding 10px 0
    .event-genere
      font-size 0.6rem
      .eg-item
        border 1px solid #fff
        display inline-block
        padding 5px 20px
        border-radius 11px 11px 11px 11px
        margin 0 5px
        &:first-of-type
          margin-left 0
    .event-date-cont
      .inline-wrap-icons
        display inline-block
        margin 10px 20px 0 40px
        position relative
        &::before
          width 25px
          height 25px
          background-size contain
          display block
          position absolute
          left -33px
        &.likes::before
          content ''
          background-image: url('/static/img/thumbsup.png')
        &.dates::before
          content ''
          background-image: url('/static/img/calander.png')
          -webkit-filter: invert(100%);
