.nav-wrap
  height 50px
  background #000
  display flex
  justify-content space-between
  position fixed
  z-index 1
  width 100%
  align-items center
  padding 0 20px
  .filter-wrap
    margin-right: 40px;
  select
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 30px;
    background: #000;
    color: green;
    border-color: green;
    text-align: center;
    padding-left: 10px;
